@font-face {
    font-family: 'ClashofClans';
    src: url('http://vignette4.wikia.nocookie.net/clashofclans/images/a/a9/Supercell-magic-webfont.ttf/revision/latest?cb=20140527043504') format('truetype'), /* TTF */
         url('http://www.supercell.net/assets/fonts/supercell-magic/supercell-magic-webfont.eot') format('embedded-opentype'), /* EOT for IE */
         url('http://www.supercell.net/assets/fonts/supercell-magic/supercell-magic-webfont.woff') format('woff'); /* WOFF */
}

:root {    

    /*========== Color ==========*/

    

    
    /*========== Font family ==========*/

}


/*==================== BASE ====================*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
input:focus{
    outline: none;
}
img {
  max-width: 100%;
  height: auto;
}
body {
    background: url('../img/body__bg.png');
}

.section {
    padding: 80px 8%;
}
@media only screen and (max-width: 850px) {
    .section {
        padding: 40px 5%;
    }
}

body {
    font-family: 'ClashofClans', sans-serif; /* Use the ClashofClans font for the body text */
}