@font-face {
    font-family: 'ClashofClans';

    src: url('../fonts/supercell-magic.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;

}

:root {    

    /*========== Color ==========*/
    
    

    
    /*========== Font family ==========*/
    --clash: 'ClashofClans', sans-serif;
    

}


/*==================== BASE ====================*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
input:focus{
    outline: none;
}
img {
  max-width: 100%;
  height: auto;
}

body {
    background: url('../img/body__bg.png');
    font-family: 'ClashofClans', sans-serif; /* Use the ClashofClans font for the body text */
    display: flex;
    align-items: center;justify-content: center;
}

.section {
    padding: 80px 8%;
}
@media only screen and (max-width: 850px) {
    .section {
        padding: 40px 5%;
    }
}


.mobile__window {
    height: 100vh;
    width: 500px;
    background-color: red;
    position: relative;
    border-radius: 20px;
    border: 7px solid #59687B;
}
@media only screen and (max-width: 500px) {
    .mobile__window {
        width: 100vw;
    }
    
}

.text-clash {
    color: white;
    font-family: 'ClashofClans', sans-serif;
    text-shadow:
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
}
.opacity-0 {
    display: flex;
    opacity: 0;
}
/*==================== entreprises ====================*/
.entreprises__display {
    background: url('../img/company__bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    border-radius: 12px;
}
.company__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}
.company__top img {
    margin-bottom: -15px;
    z-index: 100;
    width: 20%;
}
.company__top-banner {
    background: url('../img/company__banner.png') no-repeat center;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.company__top-banner p {
    font-size: 16px;
}
.company__text-top {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 18px;
}
.company__hr {
    width: 35px;
    border: 1px solid #71C4D2;
}
.company__text-top p {
    font-size: 15px;
    text-align: center;
}
.company__content {
    position: relative;
    height: 55%;
}
.company__ship {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
}
.company__ship:hover {
    cursor: pointer;
}
.company__ship p {
    font-size: 11px;
}
.company__popup {

    z-index: 1080;
    border-radius: 10px;
    border: 5px solid #5D6478;
    background: #5D6478;
    position: relative;
    width: 95%;
    position: absolute;
    top: -15%;
    left: 50%;
    transform: translate(-50%, 0);
    display: none;
}
.company__popup_close {
    position: absolute;
    top: 0;
    right: 0;
}
.company__popup_close:hover {
    cursor: pointer;
}
.company__popup-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
}
.company__popup-content-top {
    border-radius: 5px 5px 0px 0px;
    background: #FFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 30px 25px 30px;
    gap: 22px;
}
.company__popup-img {
    border: 2px solid #2A252A;
    border-radius: 4px;
}
.company__popup-content-top-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.company__popup-content-top-right-poste {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px 10px 10px 10px;
    border-radius: 3px;
    background: #666;
    gap: 8px;
}
.poste-text {
    text-shadow: none;
    font-size: 12px;
}
.poste-name {
    font-size: 12px;
}
.company__popup-content-top-right-description {
    font-size: 12px;
    text-align: center;
}
.company__popup-content-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0px 0px 5px 5px;
    background: #DEEBF1;
    padding: 10px 25px 30px 25px;
    gap: 15px;

}
.company__popup-content-bottom-text {
    font-size: 12px;
}





.oserv-ship {
    top: 6%;
    left: 8%;
}
.torc-ship {
    top: 8%;
    right: 15%;
}
.green-ship {
    top: 25%;
    left: 38%;
}
.sncf-ship {
    top: 35%;
    left: 8%;
}
.wooka-ship {
    top: 60%;
    left: 40%;
}
.dexxon-ship {
    top: 40%;
    right: 8%;
}
.wavy-ship {
    top: 70%;
    left: 12%;
}
.viv-ship {
    top: 71%;
    right: 10%;
}
.company__bottom {
    border-radius: 10px;
    background: #F2FAFD;
    box-shadow: 0px -1px 4px 2px #BBC9D3 inset;
    width: 95%;
    margin: auto;
    display: flex;
    padding: 10px 7px;
    align-items: center;
    justify-content: space-between;
    

}
.company__bottom p {
    font-size: 12px;
    padding-left: 5px;
}
.company__bottom-btn {
    border-radius: 6px;
    background: #BE74FC;
    box-shadow: 0px 1.5px 1px 0px rgba(0, 0, 0, 0.25), 0px -1px 4px 1.5px #583A70 inset;
    padding: 10px;
    border: none;
    color: #fff;
}
.company__bottom-btn:hover {
    cursor: pointer;
} 







.mobile__window{
    display: flex;
}
.testslide {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s ease;
    position: absolute;
}
/*==================== compétence ====================*/


#competences {
    display: none;
}
.competence__display {
    background: url('../img/competence__bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    border-radius: 12px;
}
.competence__tab-content {
    display: none;
}
.tab__active {
    display: block;
}
.competences__tab-box {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 0 70px;
    width: 100%;
    justify-content: space-between;

}
.competence__tab-btn {
    border-radius: 4px 4px 0 0;
    border: 1px solid #04163F;
    background-color: rgba(25, 41, 81, 0.6);
    width: 64px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.competence__tab-btn:hover {
    cursor: pointer;
}
.competence__tab-active {
    background-color: rgba(132, 176, 214, 1);
    border: none;
    box-shadow: 3px 0px 0px 0px #80AACF inset, -3px 0px 0px 0px #80AACF inset, 0px 1.5px 1px 0px #B1DAFD inset;
}   

.competence__tab-baner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #84B0D6;
    box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.25), 0px 3px 0px 0px #B1DAFD inset, 0px -3px 0px 0px rgba(69, 110, 149, 0.80) inset;
}
.competence__tab-baner p {
    padding: 20px 0;
    font-size: 16px;
}
.competence__tab-content-bot {
    padding: 15px 20px;
    border-radius: 0px 0px 5px 5px;
    background: linear-gradient(180deg, rgba(3, 40, 123, 0.86) 0%, rgba(13, 121, 210, 0.85) 100%);
    box-shadow: 0px -3px 0px 0px #005A9D inset;
    gap: 15px;
    display: flex;
    flex-direction: column;
    height: 40vh;
    justify-content: space-evenly;

}
.competence__tab-row {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}
.competence__tab-card {
    position: relative;
    width: 75px;
}
.competence__tab-card-box {
    border: 1.5px solid #2A252A;
    background-color: #fff;
    border-radius: 6px;
}
.purple__card-border {
    filter: drop-shadow(-2px 0px 2px #BC0BED) drop-shadow(2px 0px 2px #BC0BED) drop-shadow(0px -2px 2px #BC0BED) drop-shadow(0px 2px 2px #BC0BED);
}
.orange__card-border {
    filter: drop-shadow(-2px 0px 2px #DE6617) drop-shadow(2px 0px 2px #DE6617) drop-shadow(0px -2px 2px #DE6617) drop-shadow(0px 2px 2px #DE6617);
}
.gold__card-border {
    filter: drop-shadow(-2px 0px 2px #F9CB37) drop-shadow(2px 0px 2px #F9CB37) drop-shadow(0px -2px 2px #F9CB37) drop-shadow(0px 2px 2px #F9CB37);
}

.competence__goutte {
    position: absolute;
    top: -5px;
    left: -5px;
    z-index: 10;
}
.competence__tab-card-banner-purple {
    background-color: rgba(159, 74, 193, 1);
    padding: 5px;
    text-align: center;
    border-radius: 0 0 4px 4px;
    margin-top: -5px;
    min-height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.competence__tab-card-banner-orange {
    background-color: #C16827;
    padding: 5px;
    text-align: center;
    border-radius: 0 0 4px 4px;
    min-height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -5px;
}
.competence__tab-card-banner-purple p {
    color: #FB98FA;
    font-size: 9px;
    
}
.competence__tab-card-banner-orange p {
    color: #FCC373;
    font-size: 9px;
    
}
.competence__tab-card-banner-gold {
    background-color: #BFC14A;
    padding: 5px;
    text-align: center;
    border-radius: 0 0 4px 4px;
    min-height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -5px;
}
.competence__tab-card-banner-gold p {
    color: #FBF198;
    font-size: 9px;
    
}
.competence__img {
    width: 75px;
    height: 75px;
    border-radius: 4px 4px 0 0;
}

.competence__bottom {
    border-radius: 8px;
    border: 1px solid rgba(4, 22, 63, 0.20);
    background: #15284A;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    width: 98%;
    display: flex;
    padding: 5px 7px;
    align-items: center;
    justify-content: space-between;
    margin: 10px auto;
    

}
.competence__bottom p {
    font-size: 12px;
    padding-left: 5px;
}
.competence__bottom-btn {
    border-radius: 6px;
    background: #4DACF6;
    box-shadow: 0px -2.5px 2px 0px #1B82E6 inset, 0px 2.5px 2px 0px #58C3F1 inset;    padding: 5px 10px;
    border: none;
    padding: 7px 12px;
}
.competence__bottom-btn:hover {
    cursor: pointer;
}
.competence__language-box {
    padding: 15px 20px;
    height: 20vh;
}



/*==================== profil ====================*/

.profil__popup-croix:hover {
    cursor: pointer;
}

#profil {
    display: none;
}
.profil__display {
    background: url('../img/profil__bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    overflow-y: hidden;
}

.profil__banner-top {
    display: flex;
    padding: 10px;
    gap: 14px;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}
.profil__banner-top-left {
    display: flex;
    min-height: 80px;
   min-width: 279px;
    border-radius: 4px;
    border: 0.5px solid #000;
    background: rgba(27, 12, 38, 0.60);
    position: relative;
}
.profil__banner-top-left-content {
    padding: 8px 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.profil__banner-job {
    font-size: 12px;
}
.profil__banner-pp {
    position: absolute;
    bottom: 0;
    right: 0;
}
.profil__banner-top-left-content-socials {
padding-top: 5px;
}
.profil__banner-top-left-content-socials  img {
    width: 20px;
}
.profil__banner-top-right {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.profil__banner-top-right-row {
    display: flex;
    flex-direction: row;
    gap: 6px;
}
.profil__banner-top-right-row img {
    min-width: 30px;
}


.profil-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.profil__main-btn {
    padding: 25px;
    border-radius: 6px;
    font-size: 22px;
    background: #FFB901;
    border: none;
    box-shadow: 0px 1.5px 1px 0px rgba(0, 0, 0, 0.25), 0px -2px 2px 0px #BA6301 inset, 0px 2px 2px 0px #F8C310 inset;
}
.profil__main-btn:hover {
    cursor: pointer;
}

  /* Style for the popup */
  #profil_popup {
    position: absolute; /* Use relative positioning for popup within mobile__window */
    z-index: 1080; /* Above the dark overlay */
    display: none;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    
    
    

  }
.profil__popup-box {
    position: relative;


}
.profil__popup-banner {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 100;
    width: 98%;
}
.profil__popup-croix {
    position: absolute;
    right: 15px;
    top: -15px;
    z-index: 101;
}
.profil-content-box {
    height: 70vh;
    overflow: scroll;
    border: 5px solid #5D6478;
    border-radius: 10px;
    width: 96%;
    margin: auto;
    background: url('../img/profil__popup-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden; 
}
/*Scrollbar popin*/
/* Personnalisation de la barre de défilement */
.profil-content-box::-webkit-scrollbar {
    width: 10px; /* Largeur de la barre de défilement */
  }
  
  .profil-content-box::-webkit-scrollbar-track {
    background-color: #a7a7a7d8; /* Couleur de l'arrière-plan de la piste */
    border-radius: 0 0 5px 0;
  }
  
  .profil-content-box::-webkit-scrollbar-thumb {
    background-color: #FFB901; /* Couleur du pouce de la barre de défilement */
    border-radius: 5px;
  }
  
  .profil-content-box::-webkit-scrollbar-thumb:hover {
    background-color: #d19600; /* Couleur du pouce au survol */
  }
  
.profil__popup-btn-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 25px;
}
.profil__popup-content-top {
    margin-top: 70px;
    position: relative;
    width: 262px;
    height: 77px;
}
.profil__popup-pp {
    position: absolute;
    bottom: 4px;
    right: 30px;
}



.profil__popup-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 35px 10px;
    gap: 8px;
}
.profil__popup-header-name {
    color: #F9CB37;
}
.profil__popup-header-job {
    font-size: 12px;
}
.profil__popup-header-socials {
    display: flex;
    gap: 15px;
}
.profil__popup-header-socials p {
    color: #85D8F5;
    font-size: 12px;
}
.profil__popup-education {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.profil__popup-education-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.profil__popup-education-header p {
    font-size: 13px;
}
.profil__popup-pro-header-top,
.profil__popup-education-header-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
.profil__popup-education-header-top hr {
    width: 90px;
    border: 1px solid #A87BE3;
    box-shadow: 0px -0.85596px 0px 0px #4F1896 inset, 0px 0.85596px 0px 0px rgba(106, 77, 120, 0.50) inset;
}
.profil__popup-education-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 96%;
    margin: 15px auto;
}
.profil__popup-hr-yellow {
    border: 1px solid #F4CE1F;
    box-shadow: 0px -0.85596px 0px 0px #967818 inset, 0px 0.85596px 0px 0px rgba(99, 120, 77, 0.50) inset;
    width: 96%;
}
.profil__popup-hr-purple {
    border: 1px solid #A87BE3;
    box-shadow: 0px -0.85596px 0px 0px #967818 inset, 0px 0.85596px 0px 0px rgba(99, 120, 77, 0.50) inset;
    width: 96%;
}
.profil__popup-hr-blue {
    border: 1px solid #A0E8F8;
    box-shadow: 0px -0.85596px 0px 0px #967818 inset, 0px 0.85596px 0px 0px rgba(99, 120, 77, 0.50) inset;
    width: 96%;
}
.profil__popup-hr-green {
    border: 1px solid #65F462;
    box-shadow: 0px -0.85596px 0px 0px #967818 inset, 0px 0.85596px 0px 0px rgba(99, 120, 77, 0.50) inset;
    width: 96%;
}
.profil__popup-education-content-exp {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.40);
    width: 94%;
    padding: 10px;
    align-items: center;
}
.profil__popup-education-content-exp-title {
    color: #F9CB37;
    font-size: 11px;
    text-align: center;
}
.profil__popup-education-content-box {
    display: flex;
    align-items: center;
    justify-content: center
}
.profil__popup-education-content-box-left {
    display: flex;
    align-items: center;
}
.profil__popup-education-content-box-left img {
    margin-right: -20px;
    z-index: 5;
}
.profil__popup-education-content-box-left div {
    display: flex;
    align-items: center;
    border-radius: 6.2px;
    background: rgba(0, 0, 0, 0.20);
    box-shadow: 0px 3.1px 3.1px 0px rgba(0, 0, 0, 0.25) inset;
    padding: 10px 10px;
    gap: 5px;
    width: 150px;
    justify-content:center;
}
.bac-num {
    color: #F9CB37;
    font-size: 14px;
}
.bac-project {
    font-size: 10px;
}

.color-purple {
    color: #A87BE3;
}
.yellow-smal-hr {
    width: 90px;
    border: 1px solid #F4CE1F;
    box-shadow: 0px -0.85596px 0px 0px #968218 inset, 0px 0.85596px 0px 0px rgba(117, 120, 77, 0.50) inset;
}
.profil__popup-pro {
    background: url('../img/profil__popup-pro-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px 0;
}
.profil__popup-pro-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.profil__popup-pro-content img {
    margin-bottom: -20px;
    z-index: 5;
}
.profil__popup-pro-content-text {
    display: flex;
    align-items: center;
    border-radius: 6.2px;
    background: rgba(0, 0, 0, 0.20);
    box-shadow: 0px 3.1px 3.1px 0px rgba(0, 0, 0, 0.25) inset;
    padding: 20px 10px 10px 10px;
    gap: 5px;
    justify-content:center;
}
.profil__popup-pro-content-text p {
    font-size: 12px;
    line-height: 130%;
    text-align: center;
}
.pro-title {
    font-size: 12px;
    text-align: center;
    padding: 10px 0;
}
.color-blue {
    color: #9DECFF;
}
.color-yellow {
    color: #F4CE1F;
}
.color-green {
    color: #65F462;
}
.profil__popup-sep {
    width: 100%;
    height: 10px;
    background-color: #012E7E;
}
.profil__popup-competence {
    background: url('../img/competence-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px 0;
}
.profil__popup-langues .competence__tab-row,
.profil__popup-competence .competence__tab-row {
    scale: 0.8;
}
.profil__popup-langues .competence__tab-row p,
.profil__popup-competence .competence__tab-row p {
    font-size: 11px;
}





.profil__popup-langues {
    padding: 20px 0px;
}

.profil__popup-btn {
    padding: 15px;
    border-radius: 6px;
    font-size: 15px;
    background: #FFB901;
    border: none;
    box-shadow: 0px 1.5px 1px 0px rgba(0, 0, 0, 0.25), 0px -2px 2px 0px #BA6301 inset, 0px 2px 2px 0px #F8C310 inset;
}


/*==================== menu top ====================*/
.menu__top {
    display: inline-flex;
    flex-direction: row;
    padding: 10px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.top-menu-main-img {
    width: 30px;
    height: 30px;
}
.age__bar {
    display: flex;
    align-items: center;
}
.age__bar img {
    z-index: 2;
}
.age__bar-id {
    position: relative;
    display: flex;
    align-items: center;
    justify-content:center ;
    margin-right: -10px;
}
.age_id {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    text-align: center;
    font-size: 12px;
}
.menu-top__bar {
    display: flex;
    position: relative;
    align-items: center;
    border: 0.5px solid #000;
    font-size: 13px;
    background-color: rgba(18, 6, 28, 0.6);
    gap: 4px;
height: 30px; 
padding: 0 10px;   
border-radius: 4px;
    z-index: 1;
}

.menu-top__bar p {
    z-index: 2;
}
#addcoins1,
#addcoins2 {
    width: 28px;
    height: 28px;
    z-index: 150;
}
.top-menu-coin {
    display: inline-flex;
    align-items: center;
    justify-content: center;


}
.top-menu-coin img {
    height: 25px;
}
.top-menu-gemme-img {
margin-left: -8px;
margin-bottom: -3px;
z-index: 100;

}
.top-menu-coin-img {
    margin-left: -8px;
    margin-bottom: -3px;
    position: relative;
    z-index: 100;

}

#progress_bar,
#progress_bar2 {
    left: -2px;
    position: absolute;
    background-color :#10abf7;
    height: 30px;
    max-width: 100px;
    z-index: 0;
    border: 0.5px solid #000;
 }
.profil__banner-bottom {
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding: 80px 20px;
    justify-content: space-between;
}
.profil__banner-bottom-card {
    width: 85px;
    height: 115px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    padding: 10px 5px;
}
.card-text {
    font-size: 11px;
    text-align: center;
}
.purple-card-empty {
    justify-content: center;
    text-align: center;
    border-radius: 6px;
    background: rgba(163, 102, 228, 0.60);
    box-shadow: -3px 0px 0px 0px #9A5BE2 inset, 0px -5px 0px 0px #9A5BE2 inset, 3px 0px 0px 0px #9A5BE2 inset, 0px 3px 0px 0px #9A5BE2 inset;
}
.purple-card {
    border-radius: 6px;
    background: rgba(163, 102, 228, 0.80);
    box-shadow: -3px 0px 0px 0px #9A5BE2 inset, 0px -5px 0px 0px #9A5BE2 inset, 3px 0px 0px 0px #9A5BE2 inset, 0px 3px 0px 0px #9A5BE2 inset;
}
.green-card {
    border-radius: 6px;
    background: #8BFFC5;
    box-shadow: -3px 0px 0px 0px #76C8A3 inset, 0px -5px 0px 0px #76C8A3 inset, 3px 0px 0px 0px #76C8A3 inset, 0px 3px 0px 0px #76C8A3 inset;
}


/*==================== menu bbottom ====================*/


.bottom__navigation {
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    position: absolute;
    bottom: 0; 
    background: #404B5E;
    backdrop-filter: blur(2px);
    border-top: 2px solid #4F5C70;
    border-radius: 0 0 12px 12px;
    width: 100%;
}

.nav-button {
    cursor: pointer;
    background: #404B5E;
    border: #404B5E;
    width: 33.3%;
}
.nav-button-left {
    border-radius: 0 0 0 12px;
}
.nav-button-right {
    border-radius: 0 0 12px 0;
}
.nav-center {
    border-left: 1px solid #4F5C70 ;
    border-right: 1px solid #4F5C70 ;

}
  .nav-button:hover,
.nav-button.active {
  background-color: #48698A;
}

.nav-button.active img {
    margin: -30% 2% 0 2%;
}
.buttontext{
    display: none;
}

.nav-button.active .buttontext {
    display: block; /* or inline, inline-block, etc., depending on your layout */
}

/* Focus styles for the buttons */
.nav-button:focus {
  outline: none;
}

/* Pop*/

/* Style for the dark overlay on mobile__window */
 .mobile__window.darken::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    z-index: 1040; /* Above the content of mobile__window */
  }
  


  /* Media */
  @media screen and (max-height: 760px) {
    .company__content {
        height: 45%;
    }
  }
  @media screen and (max-width: 500px) {
    .mobile__window {
        border: none;
        border-radius: 0;
    }
    .entreprises__display,
    .competence__display,
    .nav-button,
    .profil__display {
        border-radius: 0;
    }
  }
  @media screen and (min-width: 427px) {
    .profil__banner-top {
        gap: 40px;
    }
    .profil__banner-top-left {
        scale: 1.1;
    }
    .profil__banner-top-right-row,
    .profil__banner-top-right {
        gap: 10px;
    }
    .profil-content img {
        scale: 1;
        padding: 0px 0;
    }
    .profil__banner-bottom-card {
        scale: 1.15;
    }
    .profil__popup-croix {
        top: -5px;
        right: 15px;
    }
    .profil-content-box .competence__tab-card {
        scale: 1.2;
        margin-top: 20px;
    }
    .competence__display .competence__tab-card {
        scale: 1.15;
    }
  }

  @media screen and (max-width: 380px) {
    .competence__display .competence__tab-card {
        scale: 0.9;
    }
    .competence__language-box,
    .competence__tab-content-bot {
        padding: 10px;

    }
  }
  @media screen and (max-height: 771px) {
    .profil-content img {
        scale: 0.8;
    }
    .profil__main-btn {
        padding: 15px;
        border-radius: 3px;
        font-size: 15px;
        background: #FFB901;
        border: none;
        margin-top: -30px;
        box-shadow: 0px 1.5px 1px 0px rgba(0, 0, 0, 0.25), 0px -2px 2px 0px #BA6301 inset, 0px 2px 2px 0px #F8C310 inset;
    }
    .profil__banner-bottom {
        display: flex;
        flex-direction: row;
        gap: 5px;
        padding: 20px 10px;
        justify-content: space-between;
        scale: 0.8;
    }
    .profil__banner-top {
        scale: 0.8;
        gap: 50px;
    }
  }




#loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#wrapper {
    display: none;
}

