@font-face {
    font-family: 'ClashofClans';
    src: url('http://vignette4.wikia.nocookie.net/clashofclans/images/a/a9/Supercell-magic-webfont.ttf/revision/latest?cb=20140527043504') format('truetype'), /* TTF */
         url('http://www.supercell.net/assets/fonts/supercell-magic/supercell-magic-webfont.eot') format('embedded-opentype'), /* EOT for IE */
         url('http://www.supercell.net/assets/fonts/supercell-magic/supercell-magic-webfont.woff') format('woff'); /* WOFF */
}

:root {    

    /*========== Color ==========*/
    
    

    
    /*========== Font family ==========*/
    --clash: 'ClashofClans', sans-serif;
    

}


/*==================== BASE ====================*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
input:focus{
    outline: none;
}
img {
  max-width: 100%;
  height: auto;
}
body {
    background: url('../img/body__bg.png');
    font-family: 'ClashofClans', sans-serif; /* Use the ClashofClans font for the body text */

}

.section {
    padding: 80px 8%;
}
@media only screen and (max-width: 850px) {
    .section {
        padding: 40px 5%;
    }
}

body {
        display: flex;
        align-items: center;justify-content: center;
    }

.mobile__window {
    height: 100vh;
    width: 500px;
    background-color: red;
    position: relative;
}
@media only screen and (max-width: 500px) {
    .mobile__window {
        width: 100vw;
    }
    
}

.text-clash {
    color: white;
    font-family: var(--clash);
    text-shadow:
        -0.7px -0.7px 0 #000,  
         0.7px -0.7px 0 #000,
        -0.7px  0.7px 0 #000,
         0.7px  0.7px 0 #000;
}

/*==================== entreprises ====================*/
.entreprises__display {
    background: url('../img/company__bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}
.company__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}
.company__top img {
    margin-bottom: -15px;
    z-index: 100;
    width: 20%;
}
.company__top-banner {
    background: url('../img/company__banner.png') no-repeat center;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.company__top-banner p {
    font-size: 16px;
}
.company__text-top {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 18px;
}
.company__hr {
    width: 35px;
    border: 1px solid #71C4D2;
}
.company__text-top p {
    font-size: 15px;
    text-align: center;
}
.company__content {
    position: relative;
    height: 57%;
}
.company__ship {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
}
.company__ship p {
    font-size: 11px;
}
.company__popup {
    display: none;
}
.oserv-ship {
    top: 27px;
    left: 34px;
}
.torc-ship {
    top: 35px;
    right: 15px;
}
.green-ship {
    top: 106px;
    left: 146px;
}
.sncf-ship {
    top: 166px;
    left: 20px;
}
.wooka-ship {
    top: 214px;
    left: 146px;
}
.dexxon-ship {
    top: 191px;
    right: 25px;
}
.wavy-ship {
    top: 312px;
    left: 50px;
}
.viv-ship {
    top: 328px;
    right: 62px;
}
.company__bottom {
    border-radius: 10px;
    background: #F2FAFD;
    box-shadow: 0px -1px 4px 2px #BBC9D3 inset;
    width: 95%;
    margin: auto;
    display: flex;
    padding: 10px 7px;
    align-items: center;
    justify-content: space-between;
    

}
.company__bottom p {
    font-size: 12px;
    padding-left: 5px;
}
.company__bottom-btn {
    border-radius: 6px;
    background: #BE74FC;
    box-shadow: 0px 1.5px 1px 0px rgba(0, 0, 0, 0.25), 0px -1px 4px 1.5px #583A70 inset;
    padding: 5px 10px;
    border: none;
}





.mobile__window{
    display: flex;
}
.testslide {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s ease;
    position: absolute;
}
/*==================== compétence ====================*/


#competences {
    display: none;
}
.competence__display {
    background: url('../img/competence__bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}
.competence__tab-content {
    display: none;
}
.tab__active {
    display: block;
}
.competences__tab-box {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 0 70px;
    width: 100%;

}
.competence__tab-btn {
    border-radius: 4px 4px 0 0;
    border: 1px solid #04163F;
    background-color: rgba(25, 41, 81, 0.6);
    width: 54px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.competence__tab-active {
    background-color: rgba(132, 176, 214, 1);
    border: none;
    box-shadow: 3px 0px 0px 0px #80AACF inset, -3px 0px 0px 0px #80AACF inset, 0px 1.5px 1px 0px #B1DAFD inset;
}   

.competence__tab-baner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #84B0D6;
    box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.25), 0px 3px 0px 0px #B1DAFD inset, 0px -3px 0px 0px rgba(69, 110, 149, 0.80) inset;
}
.competence__tab-baner p {
    padding: 20px 0;
    font-size: 16px;
}
.competence__tab-content-bot {
    padding: 15px 10px;
    border-radius: 0px 0px 5px 5px;
    background: linear-gradient(180deg, rgba(3, 40, 123, 0.86) 0%, rgba(13, 121, 210, 0.85) 100%);
    box-shadow: 0px -3px 0px 0px #005A9D inset;
    gap: 15px;
    display: flex;
    flex-direction: column;

}
.competence__tab-row {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}
.competence__tab-card {
    position: relative;
    width: 75px;

}
.competence__tab-card-box {
    border: 1.5px solid #2A252A;
    background-color: #fff;
    border-radius: 6px;
}
.purple__card-border {
    filter: drop-shadow(-2px 0px 2px #BC0BED) drop-shadow(2px 0px 2px #BC0BED) drop-shadow(0px -2px 2px #BC0BED) drop-shadow(0px 2px 2px #BC0BED);
}
.orange__card-border {
    filter: drop-shadow(-2px 0px 2px #DE6617) drop-shadow(2px 0px 2px #DE6617) drop-shadow(0px -2px 2px #DE6617) drop-shadow(0px 2px 2px #DE6617);
}
.competence__goutte {
    position: absolute;
    top: -5px;
    left: -5px;
    z-index: 10;
}
.competence__tab-card-banner-purple {
    background-color: rgba(159, 74, 193, 1);
    padding: 5px;
    text-align: center;
    border-radius: 0 0 4px 4px;
}
.competence__tab-card-banner-orange {
    background-color: #C16827;
    padding: 5px;
    text-align: center;
    border-radius: 0 0 4px 4px;
}
.competence__tab-card-banner-purple p {
    color: #FB98FA;
    font-size: 9px;
    
}
.competence__tab-card-banner-orange p {
    color: #FCC373;
    font-size: 9px;
    
}
.competence__img {
    width: 75px;
    height: 75px;
}

.competence__bottom {
    border-radius: 8px;
    border: 1px solid rgba(4, 22, 63, 0.20);
    background: #15284A;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    width: 98%;
    display: flex;
    padding: 5px 7px;
    align-items: center;
    justify-content: space-between;
    margin: 10px auto;
    

}
.competence__bottom p {
    font-size: 12px;
    padding-left: 5px;
}
.competence__bottom-btn {
    border-radius: 6px;
    background: #4DACF6;
    box-shadow: 0px -2.5px 2px 0px #1B82E6 inset, 0px 2.5px 2px 0px #58C3F1 inset;    padding: 5px 10px;
    border: none;
    padding: 7px 12px;
}
.competence__language-box {
    padding: 0 10px;
}



/*==================== profil ====================*/


#profil {
    display: none;
}
.profil__display {
    background: url('../img/profil__bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.profil__banner-top {
    display: flex;
    padding: 10px;
    gap: 14px;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}
.profil__banner-top-left {
    display: flex;
    min-height: 80px;
   min-width: 279px;
    border-radius: 4px;
    border: 0.5px solid #000;
    background: rgba(27, 12, 38, 0.60);
    position: relative;
}
.profil__banner-top-left-content {
    padding: 8px 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.profil__banner-job {
    font-size: 12px;
}
.profil__banner-pp {
    position: absolute;
    bottom: 0;
    right: 0;
}
.profil__banner-top-left-content-socials {
padding-top: 5px;
}
.profil__banner-top-left-content-socials  img {
    width: 15px;
}
.profil__banner-top-right {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.profil__banner-top-right-row {
    display: flex;
    flex-direction: row;
    gap: 6px;
}
.profil__banner-top-right-row img {
    min-width: 30px;
}


.profil-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.profil__main-btn {
    padding: 25px;
    border-radius: 6px;
    font-size: 22px;
    background: #FFB901;
    border: none;
    box-shadow: 0px 1.5px 1px 0px rgba(0, 0, 0, 0.25), 0px -2px 2px 0px #BA6301 inset, 0px 2px 2px 0px #F8C310 inset;
}




/*==================== menu top ====================*/
.menu__top {
    display: inline-flex;
    flex-direction: row;
    padding: 10px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.top-menu-main-img {
    width: 25px;
    height: 25px;
}
.age__bar {
    display: flex;
    align-items: center;
}
.age__bar img {
    z-index: 2;
}
.age__bar-id {
    position: relative;
    display: flex;
    align-items: center;
    justify-content:center ;
    margin-right: -10px;
}
.age_id {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    text-align: center;
    font-size: 12px;
}
.menu-top__bar {
    display: flex;
    align-items: center;
    border: 0.5px solid #000;
    font-size: 13px;
    padding: 5px 15px;
    background-color: rgba(18, 6, 28, 0.6);
}
.top-menu-coin {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.top-menu-coin img {
    height: 25px;
}
.top-menu-gemme-img {
margin-left: -8px;
margin-bottom: -3px;
}
.top-menu-coin-img {
    margin-left: -8px;
    margin-bottom: -3px;
}




/*==================== menu bbottom ====================*/


.bottom__navigation {
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    position: absolute;
    bottom: 0; 
    background: #404B5E;
    backdrop-filter: blur(2px);
    border-top: 2px solid #4F5C70;

    width: 100%;
}

.nav-button {
    cursor: pointer;
    background: #404B5E;
    border: #404B5E;
    width: 33.3%;
}
.nav-center {
    border-left: 1px solid #4F5C70 ;
    border-right: 1px solid #4F5C70 ;

}
  .nav-button:hover,
.nav-button.active {
  background-color: #48698A;
}

/* Focus styles for the buttons */
.nav-button:focus {
  outline: none;
}